<form action="/users" method="POST">
  <input type="text" name="name" placeholder="Name" />
  <input type="email" name="email" placeholder="Email" />
  <input type="text" name="address" placeholder="Address" />
  <button type="submit">Send</button>
</form>